@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');*{box-sizing:border-box}body,html{margin:0 auto;padding:0;height:100%;width:100%;box-sizing:border-box;background:linear-gradient(278deg, var(--bg2), var(--bg));font-weight:400;font-size:14px;line-height:1.8;font-family:'Poppins',sans-serif;scroll-behavior:smooth}
:root{--red:#d51c23;--bg2:#0e1019;--bg:#1c2941;--white:#fff;--black:#1E1E1E;--border:#ececec;--gray:#e9e9e9;--gray2:#e9e9e924;--d:700ms;--e:cubic-bezier(0.19,1,0.22,1)}img{object-fit:contain}::-webkit-scrollbar{width:8px;background:var(--bg)}::-webkit-scrollbar-thumb{background:var(--white)}i{font-size:16px!important}p{margin-bottom:5px;font-size:16px;line-height:24px;color:var(--white);font-weight:300}h1,h2,h3,h4,h5,h6{margin:0;color:var(--white)}h1{font-size:52px;line-height:65px}h2{font-size:26px;line-height:36px;font-weight:500}h6{font-weight:400;font-size:16px;line-height:30px}h5{font-weight:400;font-size:18px}hr{margin-top:10px;margin-bottom:10px;border:0;border-top:1px solid var(--border);height:0}a{color:var(--black);text-decoration:none}a:hover{color:var(--red)}.flex-align{display:flex;align-items:center;justify-content:space-between}.btn-site,.btn-site2{border-radius:6px;padding:15px 25px;display:flex;height:46px;gap:5px;align-items:center;font-size:16px;line-height:16px;text-decoration:none;transition:all .3s ease;width:fit-content;cursor:pointer;position:relative}.btn-site{background-color:var(--red);color:var(--white);font-weight:500}.btn-site2{background-color:var(--white);color:var(--red);font-weight:600}.btn-site:hover{color:var(--white)}.btn-anim{background:linear-gradient(90deg,var(--red),#0078ff,#ee3d51,var(--black));background-size:400% 400%;animation:gradient 3s ease infinite}@keyframes gradient{0%{background-position:0% 50%}50%{background-position:100% 50%}100%{background-position:0% 50%}}.btn-site:hover,.btn-site2:hover{transform:skew(-6deg)}.bg-white{background:var(--white)}.text-white{color:var(--white)}.font-weight-400{font-weight:400}.font-weight-500{font-weight:500}.font-weight-600{font-weight:600}.font-weight-700{font-weight:700}.font-weight-800{font-weight:800}.text-8{font-size:8px}.text-9{font-size:9px}.text-10{font-size:10px}.text-11{font-size:11px}.text-12{font-size:12px}.text-13{font-size:13px}.text-14{font-size:14px}.text-15{font-size:15px}.text-16{font-size:16px}.text-17{font-size:17px}.text-18{font-size:18px}.text-19{font-size:19px}.text-20{font-size:20px}.text-21{font-size:21px}.text-22{font-size:22px}.text-23{font-size:23px}.text-24{font-size:24px}.text-25{font-size:25px}.text-26{font-size:26px}.text-27{font-size:27px}.text-28{font-size:28px}.text-red{color:var(--red)}.mr-1{margin-left:5px}.mr-2{margin-left:10px}.mt-1{margin-top:5px}.mt-2{margin-top:10px}.mt-3{margin-top:15px}.mt-4{margin-top:20px}.my-40{margin-top:40px;margin-bottom:40px}.container{width:100%;margin-right:auto;margin-left:auto}.gap-direction{display:flex;flex-direction:column;gap:15px}.col-md-4{width:33.3%;padding-left:15px;padding-right:15px}.mx-auto{margin-left:auto;margin-right:auto}.text-center{text-align:center}.pt-3{padding-top:15px}.pt-5{padding-top:35px}@media (min-width:990px){.viewMoreBtn{display:none}}@media (min-width:1440px){.container{max-width:1280px}}@media (max-width:1440px){.container{max-width:1200px;padding-left:25px;padding-right:25px}.hero-banner{padding-left:30px}h1{font-size:35px;line-height:50px}.social_icons{left:30px}}@media (max-width:1366px){.container.hero-container {

    padding-top: 60px;


}
.ring i{
    display: none;
}
.ring {

    height: 440px;

}
.marque-main{width:50%}.placement-left{width:50%}}
@media (min-width:768px){.overview .column-box {
    min-height: 120px;
}}
@media (max-width:1320px){.hero-left{padding-left:60px}}
@media (max-width:1200px){.container{max-width:1140px}.col-4{width:50%}.placement-left{width:100%}.marque-main{width:50%;margin:0 auto;padding:0}.join-card:not(:first-child)::before{left:-100px;width:100px}.join-card:not(:first-child):nth-of-type(odd):before{right:-100px;margin-top:0px}}@media (max-width:1100px){.join-card{max-width:100%;width:100%}.join-card:not(:first-child)::before{display:none}.join-card:not(:last-child)::after{content:"";position:absolute;bottom:-40px;height:40px;width:40px;left:50%;transform:translateX(-50%);background:url(../images/arrow-shape2.png);background-repeat:no-repeat;background-size:contain}.join-card:nth-child(even){float:none}}
@media (max-width:991px){.logo{background: initial;}a.thumbnail-vid {
    margin-right: 0px;

}
.textContainer h6{
    text-align: center;
}.choose-right img {
    height: auto;

}
/* .hero-right{display:none;} */

.ring {
    margin: 0 auto;

}
.login {
    justify-content: flex-start;

}
.newsbox{display:none}.logo{top:0}.logo img{height:40px}.menu{display:flex;z-index:9999;position:absolute;right:20px}.header-left{display:none}.header-right{width:100%}.header-center{top:0}.container{max-width:960px}.hero-container{gap:70px;padding-top:100px}.hero-left{width:100%;align-items:center;text-align:center;padding-left:0}.hero-right{width:100%}.social_icons{left:10px}.shape1{width:200px;height:200px}.scroll-start .header-center{display:block}.container.hero-container{padding-top:60px}.col-md-6{width:100%}.iframe-col{order:1;padding:0}.development-row{margin-top:20px}.carousel-item{width:50%}.footer-column{width:50%}.footer-column:nth-child(1){width:100%}.footer-column .nav2{width:50%}}
@media (max-width:768px){.column-box span {
    font-family: 'Poppins',sans-serif;

}
.placement-marquee, .marquee-sec.scrolling-text {
    mask-image: none;
}

.row {
    row-gap: 30px;
}.container{max-width:720px}.border-main img{object-fit:none;height:100px}.overview.section{padding-top:40px}.marque-main{width:100%}
/* .scrolling-text__item {
    height: 80px;
} */
.scrolling-text__item img{height:80px}.col-md-4{width:100%}.column-box2{width:420px}.join-card{flex-direction:column-reverse}.join-card:nth-child(even){flex-direction:column-reverse}.join-card-content{width:100%}}@media (max-width:576px){.carousel-inner {
    display: -webkit-inline-box;
    flex-wrap: nowrap;
    width: 100%;
    gap: 50px;
    overflow-x: auto;

}h5{font-size:16px}.container{max-width:540px}.logo img{height:40px;max-width:120px}.btn-site,.btn-site2{padding:12px 18px;font-size:13px;line-height:14px;font-weight:500;height:40px}i{font-size:14px!important}.col-4{width:100%}.overview .col-4:nth-child(even) .column-box{margin-top:0px}.overview .column-box{padding:15px}.overview .column-box>div{gap:6px}.img-icon{width:44px;height:44px}.column-box span{font-size:100px;top:-80px;opacity:.3}.overview .row{padding-top:20px}.column-box2{width:320px}.choose-items h6::before{left:0px}.choose-items h6{width:100%;padding-right:0px;padding-left:20px}.carousel-item{width:100%;padding:20px 0}.footer-column{width:100%;padding:0}.footer-column .row{row-gap:0;padding-top:15px}.last-footer{margin-top:30px}.join-card{padding:20px}}@media (max-width:440px){h1 {
    font-size: 28px;
    line-height: 36px;
}
.top-action {
    bottom: 20px;
    right: 20px;

}.social_icons{left:5px}.social_icons li{padding:2px}.social_icons img{width:20px;height:20px}.h1{font-size:30px;line-height:40px}.hero-container{padding-top:60px}.nav{gap:10px}.logo img{height:40px;max-width:120px}.nav-items{font-size:12px}
/* .scrolling-text__item{height:110px} */

.scrolling-text__item img{height:110px}.h6{font-size:14px;line-height:26px}.p{font-size:12px;line-height:22px}
/* .scrolling-text__item{height:70px} */
.scrolling-text__item img{height:70px}}
