.gradient-text {
    /* background: -webkit-linear-gradient(#7c1824,  var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color:var(--red);
  }
  .transition{
    transition: .4s;
  }
  h1{
    position: relative;
  overflow: hidden;
  }
  .split-parent {
    overflow: hidden;
  }
  .split-child {
    display: inline-block;
  }
  h1 > div {
    position: relative;
    margin: 0;
  }
header{
    position: relative;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    background: linear-gradient(278deg, var(--bg2), var(--bg));
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.08); */
    transition: .3s;

}
.header-align{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;

}
.header-left{
    width: calc(50% - 180px);
}
.header-center{
    width: 180px;
    display: flex;
    justify-content: center;
    /* background: var(--black); */
    position: relative;
    top: 42px;
}
.header-right{
    width: calc(50% - 180px);
    justify-content: flex-end;
    display: flex;
}

.top-action{
    position: absolute;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 9;
}
.scroll-start .top-action{
    position: fixed;
    

}
.viewMoreBtn{
    text-align: center;
}
.top-action img{
    width: 25px;
    height: 25px;
}
.scroll-start .header-align {

    height: 75px;
    transition: .3s;
    
}
.scroll-start header {

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.textContainer {
    max-height: 100%;
    overflow: hidden;
    transition: .4s;
  }

.scroll-start  .fixed-contact > div{
    padding: 12px 5px 12px 5px;
   min-width: auto;

}
.logo{
    align-items: center;
    display: flex;
    /* z-index: 9;
    background: var(--bg); */
    padding: 5px;
    /* padding: 5px 10px; */
    
  


}
.logo:before {
    content: '';
    background-color: #232530;
    width: calc(50% - 95px);
    height: 1px;
    left: 0;
    position: fixed;
}
.logo:after{
    content: '';
    background-color: #232530;
    width: calc(50% - 95px);
    height: 1px;
    right: 0;
    position: fixed;
}
.scroll-start .logo:before , .scroll-start .logo:after{
    display: none;
}
footer .logo{

    background: initial;

}
.logo img{
    max-width: 180px;
    height: 50px;
    object-fit: contain;
}

.nav{
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: 42px;


}
.nav-items{
    color: var(--white);
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    height: fit-content;
    cursor: pointer;
    line-height: initial;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.nav-items:hover:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background: var(--red);
    opacity: .6;
    animation: tab_border .2s;
}

@keyframes tab_border {
    0%{width: 0px;opacity: .2;}
    100%{width: 50%;opacity: .6;}

}
.nav-items.active{
    color: var(--red);

}
.nav-items.active:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background: var(--red);
    opacity: .6;
    animation: tab_border .2s;
}


.menu{
    width: 25px;
    height: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    display: none;
}
.menu span{
    height: 2px;
    width: 100%;
    background: white;

}
.menu span:nth-child(2){
    width: 80%;
}
.scroll-start .header-center {

    display: none;
}
.scroll-start  header {
    position: fixed;
    /* background: var(--white); */
    box-shadow: 0 0 21px 0px #0e101930;
    animation: scroll-start .3s linear;
}
@keyframes scroll-start {
    0% {
        top:-80px;
    }

    100% {
        top:0px;
    }
}
/* .scroll-start .nav-items {
    color: var(--red);
    font-weight: 500;
} */
.scroll-start .header-left {
    width: 100%;
}
.header-left .logo{
    display: none;
}
.scroll-start .header-left .logo{
    display: flex;
    background: initial;
}
/* header end */
/* social icons start */
.social_icons{
    position: fixed;
    list-style: none;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    width: fit-content;
    transition: .4s;
    
}
.scroll-start .social_icons{
    left:-100px;
    transition: .4s;
}
.social_icons:before{
    content: "";
    position: absolute;
    top: -37.5vh;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 1px;
    background-color:  rgba(255, 255, 255, 0.08);
    
}
.social_icons li{
    padding: 5px;
    width: fit-content;
    z-index: 1;
    position: relative;
    background-color: var(--bg);
}
.social_icons img{
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.social_icons a:hover img{
    animation-name: jello;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes jello {
    0%, 11.1%, 100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        -webkit-transform: skewX(6.15deg) skewY(6.15deg);
        transform: skewX(6.15deg) skewY(6.15deg);
    }
    44.4% {
        -webkit-transform: skewX(-3.115deg) skewY(-3.115deg);
        transform: skewX(-3.115deg) skewY(-3.115deg);
    }
    55.5% {
        -webkit-transform: skewX(1.5615deg) skewY(1.5615deg);
        transform: skewX(1.5615deg) skewY(1.5615deg);
    }
    66.6% {
        -webkit-transform: skewX(-.78115deg) skewY(-.78115deg);
        transform: skewX(-.78115deg) skewY(-.78115deg);
    }
    77.7% {
        -webkit-transform: skewX(.390615deg) skewY(.390615deg);
        transform: skewX(.390615deg) skewY(.390615deg);
    }
    88.8% {
        -webkit-transform: skewX(-.1953115deg) skewY(-.1953115deg);
        transform: skewX(-.1953115deg) skewY(-.1953115deg);
    }

}
/* social icons end */
/* hero start */
.hero-sec{
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.container.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
    min-height: 75vh;

}
.hero-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h1.heading{
    text-align: center;
}
.hero-sec h1{
    color: var(--white);
    z-index: 1;
}
.hero-ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    z-index: 1;
}
.hero-ul li{
    color: var(--white);
    list-style: none;
    font-size: 16px;
    position: relative;
    /* padding-left: 25px; */
    text-align: left;
}
.sub-head{
    color: var(--white);
    list-style: none;
    font-size: 16px;
    position: relative;
    text-align: left;
    padding-bottom: 10px;
}
/* .hero-ul li:before{
    content: "\f00c";
    position: absolute;
    left: 0px;
    font-family: 'FontAwesome';
} */
.btn-container{
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 1;
}
.shape1 {
    position: absolute;
    left: 10%;
    top: 20%;
    transform: translateY(-50%) rotate(45deg);
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--red) -4.46%, rgb(255 145 141 / 13%) 66.67%);
    filter: blur(40px);
    animation: shape1 12s infinite;
    opacity: .5;
}
@keyframes shape1 {
    0% {
        transform: translateY(-50%) rotate(90deg);
        left: 10%;
        top: 40%;
    }
    50% {
        transform: translateY(-50%) rotate(360deg);
        left: 20%;
        top: 60%;
    }
    100% {
        transform: translateY(-50%) rotate(45deg);
        left: 10%;
        top: 40%;
    }
}
.hero-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.hero-banner{
    width: 100%;
    padding-left: 100px;
    position: relative;
}
.hero-banner-img{
    /* aspect-ratio: 1/1;
    object-fit: cover;
    width: 360px; */
    width: 100%;
}
.border-main{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.border-main img {
    width: 100%;
    animation: shape2 5s infinite;

}
@keyframes shape2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(6deg);
    }
    0% {
        transform: rotate(0deg);
    }
}
/* hero end */

/* marquee start */

.scrolling-text {
    /* background: var(--white); */
    /* background: var(--gray2); */

    
    color: var(--red);
    overflow: hidden;
    width: 100%;
}

.scrolling-text_inner {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size:30px;
    font-weight: 500;
    padding: 30px 0;
    overflow: hidden;
    border-top: 1px solid #e9e9e954;
    border-bottom: 1px solid #e9e9e954;
}
.placement-marquee .scrolling-text_inner {

    padding: 0px 0;
    border: none;

}

.scrolling-text_inner.direction-left>div {
    animation: marquee-left var(--marquee-speed) linear infinite;
    will-change: transform;
    flex-shrink: 0;
}


.scrolling-text_inner>div {
    display: flex;
    align-items: center;
    flex-shrink: 0
}

.scrolling-text__item {
    padding: 0 2vw;
    /* height: 110px; */
    display: flex;

}
.scrolling-text__item img{
    width: 180px;
    height: 110px;
    object-fit: contain;
    /* background-color: white; */
    padding: 0 10px;
}
.placement-marquee {
    /* mask-image: linear-gradient(to left, transparent 5%, black 100%); */
    mask-image: linear-gradient(to right, transparent 5%, black 50%);
}
.marquee-sec.scrolling-text{
    mask-image: linear-gradient(to left, transparent 5%, black 50%);
}
/* .scrolling-text_inner.direction-left {
    mask-image: linear-gradient(to right, transparent 12%, black 100%);
} */
.placement-marquee .scrolling-text__item{
    padding: 0 10px;
}
.placement-marquee .scrolling-text__item img{
    width: 240px;
    height: auto;
    padding: 0;
    border-radius: 16px;
}
.scrolling-text__item:empty {
    display: none
}





@keyframes marquee-left {
    from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* marquee end */

/* row start */
.head{
    margin-bottom: 20px;
}
.row{
    display: flex;
    flex-flow: wrap;
    /* margin-left: -10px;
    margin-right: -10px; */
    row-gap: 50px;

}

.col-4{
    width: 25%;
}
.column-box{
    padding: 20px 20px;
    border:2px solid  var(--gray2);
    margin: 10px;
    border-radius: 6px;
    position: relative;
    transition: .3s;
    background: linear-gradient(180deg, #253550 0%, #21304b 100%);
}
.column-box:hover{
    transform:  skew(0deg) translateX(-3px)!important;
    transition: .3s;
}
.section{
    padding: 40px 0;
}
/* row end */
/* overview start */
/* 
.overview.section{
    padding-top: 80px;
}
.overview .row{
    padding-top: 50px;
}
.overview .column-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transform:  skew(-6deg);
}
.overview .col-4:nth-child(even) .column-box{
    margin-top: -20px;
}
.overview .column-box > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column-box span {
    color: var(--gray);
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--red);
    font-size: 140px;
    position: absolute;
    top: -120px;
    left: -30px;
    z-index: -1;
    font-family: 'Poppins';
    opacity: 0.2;
    font-weight: 800;
}
.img-icon{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.overview  .img-icon{
    opacity: .7;
}
.column-box h6{
    opacity: .8;
    line-height: 20px;
} */
/* overview end */

/* marquee start */
.marquee{
    position: relative;
    background-color: var(--bg);
    height: 100%;
    overflow: hidden;
    /* height: 800px; */

}
.placement-left{
    width: calc(100% - 700px);
}
.marque-main{
    /* margin: 50px 0; */
    display: flex;
   /* transform:  rotate(-8deg); */
    gap: 10px;

   
    /* width: 50%; */
    /* width: 700px; */
    overflow: hidden;
    /* max-height: calc(100vh - 80px); */
   

}

.marquee-photo_panel {
    display: flex;
    flex-direction: column;
    animation: verticalMarquee 20s infinite  linear;

    width: 50%;
   


}

.marquee-photo_panel:nth-child(even) {

    animation: verticalMarquee2 20s infinite  linear;
}


  @keyframes verticalMarquee {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -50%, 0);
    }
}
@keyframes verticalMarquee2 {
    0%, 100% {
        transform: translate3d(0, -50%, 0);
    }
    50% {
        transform: translate3d(0, 0%, 0);
    }
}
/* .marquee-photo_panel:nth-child(3) {
    animation-delay: 3s;
} */
.marquee-photo_item {
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
    /* background-color: rgba(255, 255, 255, .1); */
    flex: none;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
    /* padding: 6.5rem 4rem; */
    display: flex;
    position: relative;
    margin-bottom: 15px;
}
.marquee_img {
    width: 100%;
    /* height: 7rem; */
    min-height: 1rem;
    mix-blend-mode: difference;
    object-fit: contain;
    border-radius: 10px;
    /* height: 200px; */

}


/* marquee end */

/* fullstack start */
.development-row{
    margin-top: 20px;
}
.col-md-6{
    width:50%;
}
.iframe-col{
    padding-right: 50px;
    position: relative;
    line-height: 0;
}
.iframe-col .elementor-video{
    width: 100%;
}
a.thumbnail-vid {
    position: absolute;
    inset: 0;
    background-color: #0000004d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    border-radius: 16px;
}
a.thumbnail-vid img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
/* fullsttack end */


/* accordion start */

.accordion-section{
  /* max-width:650px; */
  width:100%;
  margin:0px auto;
  /* background-color:#0000003d; */
  display: flex;
    flex-direction: column;
    gap: 10px;
}
.each-accordionbox{
  margin:0px;
  padding-bottom:15px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  position:relative;
  cursor: pointer;
  background-color:#29314729;
  transition: .5s;
}
.each-accordionbox h3{
    position: relative;
}
.each-accordionbox h3::before{
  content:'+';
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  left:20px;
  background:var(--red);
  background-position: center;
  border-radius:6px;
  font-size:20px;
  color:var(--white);
  padding:0px 12px;
   transition: all .5s;
}

.each-title{
  color:var(--red);
  padding:15px 70px 15px;
  font-weight: 600;

/*     position: relative;
    top: -16px;
    left: -25px; */
}
.accordion-section p{
  padding:0px 40px 20px;
  display:none;
}
.each-accordionbox.active{
  /* background:#0e1019ed; */
  color:#ffffff;
  /* border-top:1px solid #303030; */
}
.each-accordionbox.active .each-title{
  border-bottom:1px solid var(--gray2);
}
.each-accordionbox.active h3::before{
    content:'-';
  left: -10px;
}
/* accordion end */


/* why choose start */
/* Why Choose Us */
.why_choose{ 
    width:100%; 
    margin: 0 0 50px; 
    font-family: 'Raleway', sans-serif; 
  }
  .why_choose_head{ 
    width:100%; 
    text-align:center; 
    padding:30px;
  }
  .why_choose_head h1{ 
    width:100%; 
    color: #000000; 
    text-align:center; 
    font-size:32px; 
    font-family: 'Raleway-Medium', sans-serif;
  }
  .why_choose_head h1 span{ 
    border-bottom: 2px solid #a2437e; 
  }
  .text-down { 
    position:relative; 
    overflow:hidden;
    /* border: 2px solid var(--gray2); */
    border-radius: 12px;
    overflow: hidden;
  }
  .text-down img{ 
    width:100%; 
    height:240px;
    object-fit: cover;
  }

  .text-down .textbox { 
    width:100%; 
    position:absolute; 
    bottom:0; 
    left:0; 
    /* margin-bottom:-265px; */
    border-radius:5px;
    background: linear-gradient(1deg, var(--black), var(--black), transparent); 
    -webkit-transition: all 0.7s ease; 
    transition: all 0.4s ease; 
    padding: 20px;
  }
  .text-down:hover .textbox { 
    margin-bottom:0;
  }
  .text-down img{
    scale: 1.1;
    transition: .4s;
  }
  .text-down:hover img{
    scale: 1.2;
    transition: .4s;
  }
  .details{ 
    width:100%; 
    color:rgba(255,255,255,1); 
    font-size:16px;
    overflow: auto;
    display: none;
    text-align: center;
  }
  .text-down:hover   .details{
    display: block;
  }
  .text { 
    text-align:center; 
    padding-top: 0px; 
    color:rgba(255,255,255,1); 
    margin: 0;
    padding-bottom: 5px;
    padding-top: 10px;

    position: relative;
    margin-top: -10px;

  }

  .choose-row{
    margin-left: -15px;
    margin-right: -15px;

  }

.choose-items{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    transition: .4s;
}
.choose-items h6{
    width: 50%;
    padding-right: 30px;
    position: relative;
}
.choose-items h6::before{
    content: '-';
    position: absolute;
    left: -20px;
    color: var(--red);
    font-size: 20px;
}
.choose-right img{
    /* height: 390px; */
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    /* height: 100%; */
}
/* choose end */



/* testimonials start */



.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background:var(--black);
    background-size: 100% 100px;
    width: 100%;
    height: 100%;
    float: left;
    z-index: 1;
    opacity: .8;

}

.testimonial {

    position: relative;
    background: url(https://marvel-b1-cdn.bc0a.com/f00000000290162/images.ctfassets.net/2htm8llflwdx/1qMEtj3buEV49YYBqUx39g/92735dd230977db061f6e4a4a5ac6b44/GettyImages-1270398183.jpg?fit=thumb);
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
        background-attachment: fixed;
}
.testimonial *{
    z-index: 9;
    position: relative;
}
.carousel-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    margin-top: 50px;
}
.carousel-item {
    width: 33.3%;
    padding: 20px;
}
.testimonial4_slide h4{
    margin: 0 auto;
    padding: 5px 20px;
    background: var(--red);
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel-inner:before{
    content: "";
    position: absolute;
    left: -20px;
    top: -30px;
    background: url(../images/quotes.png);
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .6;
}
.carousel-inner:after{
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0px;
    background: url(../images/quotes.png);
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .6;
    transform: rotate(180deg);
}

/* ------testimonial  close-------*/
/* testimonials end */

/* footer start */

/* footer start */
.footer{
   
    padding: 30px 0;
    position: relative;
    border-top: 1px solid #393939;
}

.footer-head{
    color: white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;

}
.footer-head span{
    width: 60px;
    height: 1px;
    background-color: white;
    display: block;
}
.footer-child{
    display: flex;
    gap:20px;
}
.social-icons{
    display: flex;
    gap: 20px;
}
.social-icons a:hover img {
    animation-name: jello;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.icon{
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.social-icons img{
    width: 22px;
    height: 22px;
    object-fit: contain;
    cursor: pointer;
}
.footer-child h6{
    color: white;
    font-weight: 400;
}
.footer-column{
    padding: 30px;
    width: 33.3%;
}
.footer-column:nth-child(1){
    padding-left: 0;
}
.footer-column:nth-child(2){
    padding-right: 0;
}
.footer-column:nth-child(3){
    padding-right: 0;
}
.nav2{
    padding-top: 15px;
}

.footer .nav2 a{
    color: white;
    line-height: 20px;
    font-size: 14px;
    display: block;
    padding: 5px 0;
    font-weight: 400;
}

    

.last-footer{
    border-top: 1px solid #393939;
    padding-top: 30px;
    text-align: center;
}
.last-footer h6{
    font-size: 14px;
    font-weight: 300;
}

/* footer end */


  /* join start */
.join-row{
    margin-top: 60px;
}
.join-card{
    display: flex;
    align-items: center;
    max-width: 850px;
    gap: 40px;
    flex-wrap: wrap;
    padding: 40px;
        border: 1px solid  var(--gray2);
    border-radius: 25px;
    position: relative;
    width: 100%;
    z-index: 9;
    box-sizing: border-box;
    transition: .4s;

}
.join-card:not(:last-child) {
    margin-bottom: 40px;
}   
.join-card:nth-child(even){
    float: right;
    flex-direction: row-reverse;
}
.join-card:not(:first-child)::before {
        content: '';
        position: absolute;
        bottom: -50%;
        left: -140px;
        width: 140px;
        height: calc(100% + 25px);
        background: url(../images/arrow-shape.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%);
        filter: brightness(0) invert(1);
}
.join-card:not(:last-child)::after{
    filter: brightness(0) invert(1);
}
.join-card:not(:first-child):nth-of-type(odd):before {
    right: -140px;
    left: auto;
    transform: scaleX(-1);
    top: -50%;
    bottom: auto;
    background-position: left;
    margin-top: 20px;
}
.join-card-img{
    width: 180px;
}
.join-card-img img{
    width: 180px;
    height: 100px;
    object-fit: contain;
}
.join-card-content{
    width: calc(100% - 220px);
}
.join-card span{
    position: relative;
}
.join-card span:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--red);
    height: 3px;
    width: 25px;
}
/* join end */



/* modal */

div#modal-container {
    position: fixed;
    background: linear-gradient(278deg, var(--bg2), var(--bg));
    overflow: hidden;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: .3s;
    width: 100%;
}
.open div#modal-container {

    width: 100%;
    height: 100vh;

    transition: .3s;
}

.close-btn{
    position: absolute!important;
    right: 30px;
    top: 30px;
    color: var(--white);
    font-size: 30px;
}





  /* modal content start */
  .open{
    overflow: hidden;
  }
  .ring {
    position: relative;
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .ring .inputBx{

    transition: .3s;
}
.ring .login:hover .inputBx{
    transform: scalex(1.06);
    transition: .6s;
}
  .ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 1s;
  }
  .ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 10s linear infinite;
  }
  .ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 8s linear infinite;
  }
  .ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 12s linear infinite;
  }
  .ring:hover i {
    border: 3px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--red));
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .login h2 {
    font-size: 2em;
    color: #fff;
  }
  .login .inputBx {
    position: relative;
    width: 100%;
  }
  .login .inputBx input, .login .inputBx textarea {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
  }

  .login .inputBx input::placeholder, .login .inputBx textarea::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .login .links a {
    color: #fff;
    text-decoration: none;
  }
  


  /* cards start */




.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border-radius:16px;
  min-height: 200px;
  transition: .4s;
}
@media (min-width: 600px) {
  .card {
    height: 250px;
    
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://img.freepik.com/free-photo/full-shot-smiley-students-library_23-2149647046.jpg);
  background-position: center;
}
.card:nth-child(2):before {
  background-image: url(https://media.istockphoto.com/id/1371896330/photo/happy-asian-woman-in-his-graduation-day.webp?b=1&s=170667a&w=0&k=20&c=apaOUEdB5N5xYWUstQ5eVbmUHJtq9urMK68CTF0XNbk=);
}
.card:nth-child(3):before {
  background-image: url(https://www.avivaindia.com/sites/default/files/9%20to%205.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}



@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

  /* cards end */

  /* newsbox start */

  .newsbox {
    background-color: rgba(255,255,255,.9);
    position: fixed;
    overflow: unset;
    bottom: 5rem;
    z-index: 1;
    right: 1px;
    z-index: 9;
    
    padding-bottom: 1rem;
    border-radius: 6px 0 0 6px;
    box-shadow: 6px 8px 20px rgba(0,0,0,.5);
    transition: all .3s linear;
    width: 0;
      padding: 0;
      z-index: 99;
      }

.newsbox:hover{
        width: 360px;
        padding: 15px;
        }
      .newsbox-a {
        transform: rotate(-90deg);
        position: absolute;
        left: -71px;
        bottom: 2.6rem;
        background-color: var(--red);
        padding: 5px 10px;
        border-radius: 0.3rem 0.3rem 0 0;
        display: flex;
        white-space: nowrap;
    }
    .newsbox .news-container {
        max-height: 120px;
        overflow: auto;
        transition: all .3s linear;
    }
    .newsbox ul.newslist {
        position: relative;
        top: 0;
        animation: scroll 20s linear 1s infinite;
        transition: all 7s linear;
        padding: 0;
    }
    
@keyframes scroll {
    100% {
        top: -450px;
    }

}
.newsbox ul.newslist li {
    margin-bottom: 0.3rem;
    padding-left: 12px;
    padding-bottom: 0.3rem;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    max-height: none;
    overflow: hidden;
    line-height: 1.2rem;
    margin-top: 0.3rem;
}
.newsbox ul.newslist li a {
    display: flex;
    padding: 5px;
}
.newsbox ul.newslist li a:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -12px;
    font-size: 1rem;
    margin-right: 0.35rem;
    color: var(--red);
}





/* banner grid start */

.banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 5.5vw);
    grid-gap: 1rem;
    width: 100%;
    max-width: 700px;
    padding-left: 30px;
  }
  
    .banner__item {
      position: relative;
      overflow: hidden;
    }
    
    .banner__item--1{
      background-image: url('../images/handsome-serious-calm-guy-with-dark.png');
      /* background-image: url('https://media.tenor.com/m4j29SAo0DgAAAAe/suraj-chattambinadu.png'); */

      grid-column: 1 / 1;
      grid-row: 1 / span 3;
      background-repeat:no-repeat;
      background-size: cover;
      border-radius:60px;
      background-color: #6e1fed;
      background-position: center;
    }
    .banner__item--2{
      background-image: url('../images/vertical-shot-of-young-european-woman-in-glasses.png');
      /* background-image: url('https://i.ytimg.com/vi/PydMZnfcexU/maxresdefault.jpg'); */

      grid-column: 1 / 1;
      grid-row: 4 / span 2;
      background-repeat:no-repeat;
      background-size: cover;
      border-radius:60px;
      background-color: #219653;
    }
    .banner__item--3{
        background-image: url('../images/pretty-young-asian-woman-makes-meditating.png');
        /* background-image: url('https://media.licdn.com/dms/image/C5103AQHJhxxEu8u5pg/profile-displayphoto-shrink_800_800/0/1518847584705?e=2147483647&v=beta&t=jVBqIVc5TTYhGMjAeIpwOvo85BKzSSoFnmvK8er1fbw'); */
      grid-column: 2 / 2;
      grid-row: 1 / span 2;
      background-repeat:no-repeat;
      background-size: cover;
      border-radius:60px;
      background-color: #60d3d9;
    }
    .banner__item--4{

      background-image: url('../images/positive-dark-skinned-woman-dressed.png');
      grid-column: 2 / 2;
      grid-row: 6 / 3;
      background-repeat:no-repeat;
      background-size: cover;
      border-radius:60px;
      background-color: #ff7e29;
    }
    .banner__item--5{
      
      background-image: url('../images/positive-smiling-handsome-caucasian-man-looks.png');
      grid-column: 3 / span 2;
      grid-row: 5 / 2;
      background-repeat:no-repeat;
      background-size: cover;
      border-radius:60px;
      background-color: #f4b840;
    }
  
/* bannre grid end */